* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*navbar*/

.nav-item {
    font-size: x-large;

}

.navbar-toggler-icon {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}


.navbar-brand {
    font-weight: bold;

}

.navbar-nav {

    font-weight: bold;

}

.navbar {
    display: block;

}

.imagesize {
    max-width: 100%;
    height: 100%;
}

.contactbackground {
    background-color: #add8e6;
    padding: 0 15px;
}

body {
    background-color: rgb(238, 218, 138);

}

/*main sections */

h1 {
    padding-bottom: 100px;
    margin-top: 180px;
    color: rgb(32, 112, 187);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 400%;
}

#specialist {
    padding-bottom: 0%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 300%;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px black;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0%;
    margin-top: 95px
}

#about {
    text-align: center;
    color: rgb(32, 112, 187);

}

#glas-fam {
    background-image: url("../images/glas-fam.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    margin-top: 126px;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0%;
}

#top-heading {
    font-weight: 200;


}

#why {
    margin-top: 10%;
    font-size: 70px;
}

#why-glasgow {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10%;
    margin-bottom: 0%;
    font-size: 200%;
    padding-top: 2%;

}

#attractions {
    color: rgb(32, 112, 187);
}

#click {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 0%;
    border: 5px dotted black;
    padding: 12%;
    text-align: center;
    color: rgb(32, 112, 187);

}

.flipcardformat {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {

    width: 300px;
    height: 600px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    margin-bottom: 15px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: rgb(32, 112, 187);
    background-color: rgb(238, 218, 138);
    font-size: 150%;
    border-color: rgb(238, 218, 138);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

p+a {
    color: black;
}

#booking {
    text-align: center;
    font-size: 300%;

}

#button {
    background-color: #04AA6D;
    /* Green */
    border: solid 4px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

#contact {
    margin-bottom: 100px;
}

footer {
    font-size: 0.5em;
}

/*media query for tablets and larger*/
@media (min-width: 755px) {

    #attractions {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(238, 218, 138);
    }

    #why-glasgow {
        font-size: 50px;
    }

    #why {
        font-size: 100px;
    }

    #specialist {
        margin-top: 95px;
    }

    h1 {
        font-size: 600%;
    }

    footer {
        font-size: 9px;
    }
}

@media (min-width: 786px) {
    #specialist {
        margin-top: 230px;
    }

}

@media (min-width: 1100px) {

    #glas-fam {
        max-width: 1100px;
        margin: auto;
    }
}