/*navbar*/


.navbar{
    display: flex;
    position:relative;
    flex: wrap;
    align-items: space-between;
    padding: 0.5 rem 1rem;
    margin-bottom: 0;
    border: 0;
    width: 100%;
 justify-content: end;

}

.navbar-toggler-icon {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}
 

.navbar-brand {
    font-weight: bold;

}

.navbar .navbar-nav a {

    font-weight: bold;

}

.trailbackground{
    background-image: url("../images/Glasgowtrail.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.readingnewsletter{
    background-image: url("../images/readingnewsletter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.lightbluebackground{
    background-color: lightblue;
}