/*navbar*/



.nav-item { font-size: x-large;

}

.navbar-toggler-icon {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}
 

.navbar-brand {
    font-weight: bold;

}

.navbar-nav  {

    font-weight: bold;

}